# Ignore Obsidian system files
.obsidian

# Ignore large JSON files from Mitre ATT&CK
includes/*.json

# Ignore Mac system files
.DS_store

# Ignore files related to API keys
.env

# Cache
__pycache__
.pytest_cache
